@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Oswald', sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./app/assets/img/bg.jpeg") center no-repeat;
  background-size: cover;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(1, 38, 59, 0.3);
  backdrop-filter: blur(5px);
  padding: 5px;
  border-radius: 5px;
}

.main-container h1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 25px;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form input,
form select,
form #submit-btn {
  width: 400px;
  height: 50px;
  padding: 10px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin: 1px;
  transition: all 300ms ease;
}

form select {
  padding: 6px;
}

form input:hover {
  border: 1px solid #011a2c;
}

form #submit-btn {
  background-color: #5ad88a;
  cursor: pointer;
  transition: all 100ms ease;
}

form #submit-btn:hover {
  background-color: #32f07b;
}

form #submit-btn:active {
  background-color: #5ad88a;
}

.info-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -470px);
  width: 450px;
  height: 470px;
  padding: 20px;
  background-color: rgba(1, 38, 59, 0.7);
  backdrop-filter: blur(10px);
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: all 300ms ease-out;
}

.info-container .info-toggle {
  position: absolute;
  left: 50%;
  bottom: -50px;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  background-color: rgba(1, 38, 59, 0.7);
  backdrop-filter: blur(10px);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.info-container .info-toggle #info-icon {
  max-width: 70%;
}

h4 {
  font-size: 0.9rem;
  text-decoration: underline;
}

small {
  font-size: 0.7rem;
}

li {
  list-style-position: inside;
}

/*========== Starting colors for first name info ==========*/
small[data-fname="min"] {
  color: #f05832;
}

small[data-fname="letters"] {
  color: #f05832;
}

small[data-fname="max"] {
  color: #32f07b;
}

/*========== Starting colors for last name info ==========*/
small[data-lname="min"] {
  color: #f05832;
}

small[data-lname="letters"] {
  color: #f05832;
}

small[data-lname="max"] {
  color: #32f07b;
}

/*========== Starting colors for email info ==========*/
small[data-email] {
  color: #f05832;
}

/*========== Starting colors for country info ==========*/
small[data-country] {
  color: #f05832;
}

/*========== Starting colors for password info ==========*/
small[data-password="min"] {
  color: #f05832;
}

small[data-password="char"] {
  color: #f05832;
}

small[data-password="max"] {
  color: #32f07b;
}

small[data-password="match"] {
  color: #f05832;
}

#submit-error,
#submit-success {
  position: absolute;
  top: 5%;
  left: 5%;
  padding: 15px;
  border-radius: 5px;
  backdrop-filter: blur(5px);
  transform: translate(-180%);
  transition: all 100ms ease-out;
}

#submit-error {
  background-color: rgba(240, 88, 50, 0.8);
}

#submit-success {
  background-color: rgba(50, 240, 123, 0.8);
}

@media screen and (max-width: 500px) {
  .main-container {
    width: 100%;
  }
  .main-container input,
  .main-container select,
  .main-container #submit-btn {
    width: 100%;
  }
  .info-container {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */